<template>
  <div class="form">
    <h1>Pendaftaran Event - HUNTBAZAAR</h1>
    <h3>Masukkan Email</h3>
    <form action="/form" method="POST">
      <label for="email">Email</label>
      <input type="email" name="email" id="email">
      <button type="submit" @click="postEmail(emailUser)">Dapatkan Link Undangan</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Form',
  component: {},
  data() {
    return {
      emailUser: {}
    }
  },
  methods: {
    postEmail(emailUser) {
      axios.post('http://huntbazaar-server.test/api/user', emailUser)
      .then(response => {
        console.log(response);
      })
    },
    getLink() {

    }
  }
}
</script>