<template>
  <div class="get-link">
    <p>Berhasil Mendapatkan Link! <a href="/">Cek email</a> untuk registrasi melalui link</p>
  </div>
</template>

<script>
export default {
  name: 'GetLink',
  components: {},
  data() {
    
  }
}
</script>