<template>
  <div class="home">
    <h1>Selamat Datang di HUNTBAZAAR</h1>
    <a href="/form">Daftar</a>
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {},
  data() {
    
  }
}
</script>